
#calculadora {
    border: 3px black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parteOperaciones {
    width: 50%;
    background-color: gray;
}

#campoTrabajo {
    color: white;
    display: grid;
    place-content: end;
}

#parteTecladoNumerico {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2%;
    justify-content: center;
}

.tecla {
    text-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2.5px solid black;
    padding: 0.5%;
    cursor: pointer;
    border-radius: 5%;
}

.tecla:hover {
    background-color: darkmagenta;
}

#borrar:hover {
    background-color: red;
    color: white;
    border: 2.5px solid black;
}

#calc:hover {
    background-color: green;
    color: white;
    border: 2.5px solid black;
}