:root {
    --color-principal : #F2CB05;
    --color-parte-operaciones : #03A678;
    --color-teclas : #F29F05;
    --color-borde-teclas : #F28705;
    --color-hover-teclas-comunes : #F28705;
    --color-hover-tecla-delete : #f5782c;

    --fuente-teclas : CasioFont;
}

*{
    user-select: none;
}

@font-face {
    font-family: 'Digital7';
    src: url('../Fuentes/digital-7.ttf') format('ttf'),
         url('../Fuentes/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CasioFont';
    src: url('../Fuentes/casio.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: CasioFont;
}

#calculadora {
    border: 3px solid black;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-principal);
    border-radius: 5%;
    padding: 15px 0 15px 0;
}

#parteOperaciones {
    width: 80%;
    background-color: var(--color-parte-operaciones);
    font-family: Digital7;
}

#campoTrabajo {
    color: white;
    display: grid;
    place-content: end;
    padding: 0 5% 0 5%;
}

#parteTecladoNumerico {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2%;
    justify-content: center;
    
}

.tecla {
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    border: 2.5px solid var(--color-borde-teclas);
    padding: 0.5%;
    cursor: pointer;
    border-radius: 5%;
    background-color: var(--color-teclas);
    font-family: var(--fuente-teclas);
}

.tecla:hover {
    background-color: var(--color-hover-teclas-comunes);
    color: white;
}

#borrar:hover {
    background-color: var(--color-hover-tecla-delete);
    color: white;
}

#calc:hover {
    background-color: green;
    color: white;
    border: 2.5px solid black;
}

#operacion {
    color: white;
    display: grid;
    place-content: end;
    padding: 0 5% 0 5%;
}